
.modal1{
	display: none;
	z-index: 1;
	left: 0;
	position: fixed;
    top: 0;
    text-align: left;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal1 p{
	margin-bottom:15px;
	display:block;
}

.modal1 label{
	color: rgb(64, 92, 96);
	position: relative;
}

#MyChangepass{
	position: relative;
    width: 500px;
    padding: 10px 10px 10px 10px;
	margin: 0 auto;
	height: auto;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s
}

#MyChangepass input:not([type="submit"]){
	width: 80%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
}
#MyChangepass input:active,
#MyChangepass input:focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

.Change_button{
	position: relative;
	margin: auto;
	text-align: center;
}

.savebutton{
	background: rgb(61, 157, 179);
	width: 30%;
	cursor: pointer;
	padding: 8px 5px;
	color: #fff;
	font-size: 18px;	
	border: 1px solid rgb(28, 108, 159);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(240, 240, 240),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}

.savebutton:hover{background: rgb(74, 179, 198);}


.modal2{
    display: none;
	z-index: 1;
	left: 0;
	position: fixed;
    top: 0;
    text-align: left;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#MyDeleteAcc{
	position: relative;
    width: 500px;
    padding: 10px 10px 10px 10px;
	margin: 0 auto;
	height: 150px;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s
}

#MyDeleteAcc h2{
text-align: center;
font-weight: bold;
font-size: 25px;
}

.askbutton{
	width: 10%;
	cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 12px;
    border: 1px solid rgb(28, 108, 159);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(240, 240, 240),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}

.askbutton:hover{background: rgb(74, 179, 198);}

#yesbutton{
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}

#nobutton{
    float: left;
	margin-top: 20px;
	margin-left: 40px;
}


